In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
aapl_day = yf.download("AAPL", start="2010-12-01", end=None)

[*********************100%***********************]  1 of 1 completed

In [5]:
aapl_day.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-12-01  11.259643  11.348214  11.250000  11.300000   9.578783  461750800
2010-12-02  11.340357  11.392857  11.246071  11.362500   9.631762  462837200
2010-12-03  11.321786  11.380357  11.297857  11.337143   9.610264  342092800
2010-12-06  11.380000  11.511786  11.372143  11.433929   9.692309  448481600
2010-12-07  11.564286  11.571071  11.361429  11.364643   9.633579  391454000

In [6]:
aapl_day = aapl_day.rename(columns={'Adj Close': 'ac',
                                    'Open': 'o',
                                    'High': 'h',
                                    'Low': 'l',
                                    'Close': 'c',
                                    'Volume': 'v'
                                   })
aapl_day.head()

                    o          h          l          c        ac          v
Date
2010-12-01  11.259643  11.348214  11.250000  11.300000  9.578783  461750800
2010-12-02  11.340357  11.392857  11.246071  11.362500  9.631762  462837200
2010-12-03  11.321786  11.380357  11.297857  11.337143  9.610264  342092800
2010-12-06  11.380000  11.511786  11.372143  11.433929  9.692309  448481600
2010-12-07  11.564286  11.571071  11.361429  11.364643  9.633579  391454000

In [7]:
aapl_main = aapl_day[['ac', 'v']]
aapl_main.head(2)

                  ac          v
Date
2010-12-01  9.578783  461750800
2010-12-02  9.631762  462837200

In [8]:
aapl_main['ac1'] = aapl_main['ac'].pct_change(1) # find percent change from previous day of adj close
aapl_main.head()

                  ac          v       ac1
Date
2010-12-01  9.578783  461750800       NaN
2010-12-02  9.631762  462837200  0.005531
2010-12-03  9.610264  342092800 -0.002232
2010-12-06  9.692309  448481600  0.008537
2010-12-07  9.633579  391454000 -0.006059

In [9]:
aapl_main['mean_rol5'] = aapl_main['ac'].rolling(window=5).mean()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5
Date
2010-12-01  9.578783  461750800       NaN        NaN
2010-12-02  9.631762  462837200  0.005531        NaN
2010-12-03  9.610264  342092800 -0.002232        NaN
2010-12-06  9.692309  448481600  0.008537        NaN
2010-12-07  9.633579  391454000 -0.006059   9.629339
2010-12-08  9.718348  321935600  0.008799   9.657252

In [10]:
pd.__version__ # dunder command to find version

'1.5.2'

In [11]:
aapl_main['std_rol5'] = aapl_main['ac'].rolling(window=5).std()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5
Date
2010-12-01  9.578783  461750800       NaN        NaN       NaN
2010-12-02  9.631762  462837200  0.005531        NaN       NaN
2010-12-03  9.610264  342092800 -0.002232        NaN       NaN
2010-12-06  9.692309  448481600  0.008537        NaN       NaN
2010-12-07  9.633579  391454000 -0.006059   9.629339   0.04156
2010-12-08  9.718348  321935600  0.008799   9.657252   0.04577

In [12]:
aapl_main['z_score5'] = (aapl_main['ac']-aapl_main['mean_rol5']) / aapl_main['std_rol5']
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5  z_score5
Date
2010-12-01  9.578783  461750800       NaN        NaN       NaN       NaN
2010-12-02  9.631762  462837200  0.005531        NaN       NaN       NaN
2010-12-03  9.610264  342092800 -0.002232        NaN       NaN       NaN
2010-12-06  9.692309  448481600  0.008537        NaN       NaN       NaN
2010-12-07  9.633579  391454000 -0.006059   9.629339   0.04156  0.102018
2010-12-08  9.718348  321935600  0.008799   9.657252   0.04577  1.334818

In [13]:
aapl_main.head(10)

                  ac          v       ac1  mean_rol5  std_rol5  z_score5
Date
2010-12-01  9.578783  461750800       NaN        NaN       NaN       NaN
2010-12-02  9.631762  462837200  0.005531        NaN       NaN       NaN
2010-12-03  9.610264  342092800 -0.002232        NaN       NaN       NaN
2010-12-06  9.692309  448481600  0.008537        NaN       NaN       NaN
2010-12-07  9.633579  391454000 -0.006059   9.629339  0.041560  0.102018
2010-12-08  9.718348  321935600  0.008799   9.657252  0.045770  1.334818
2010-12-09  9.680499  294151200 -0.003895   9.667000  0.044145  0.305790
2010-12-10  9.704724  262511200  0.002502   9.685892  0.032461  0.580152
2010-12-13  9.738327  439815600  0.003463   9.695095  0.040310  1.072473
2010-12-14  9.696549  351008000 -0.004290   9.707689  0.021934 -0.507882

In [14]:
aapl_main['ac1'].mean()

0.0010697605520905047

In [15]:
def up_down(pct_change):
    if pct_change > 0:
        return 1
    else: 
        return 0

In [16]:
up_down(1)

1

In [17]:
aapl_main['ac1_pred'] = aapl_main.apply(lambda row: up_down(row['ac1']), axis=1)
aapl_main.head(10)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2010-12-01,9.578783,461750800,NaN,NaN,NaN,NaN,0
2010-12-02,9.631762,462837200,0.005531,NaN,NaN,NaN,1
2010-12-03,9.610264,342092800,-0.002232,NaN,NaN,NaN,0
2010-12-06,9.692309,448481600,0.008537,NaN,NaN,NaN,1
2010-12-07,9.633579,391454000,-0.006059,9.629339,0.041560,0.102018,0
2010-12-08,9.718348,321935600,0.008799,9.657252,0.045770,1.334818,1
2010-12-09,9.680499,294151200,-0.003895,9.667000,0.044145,0.305790,0
2010-12-10,9.704724,262511200,0.002502,9.685892,0.032461,0.580152,1
2010-12-13,9.738327,439815600,0.003463,9.695095,0.040310,1.072473,1
2010-12-14,9.696549,351008000,-0.004290,9.707689,0.021934,-0.507882,0

In [18]:
aapl_main.tail(5)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2024-01-18,188.630005,78005800,0.032571,185.289999,2.302729,1.450455,1
2024-01-19,191.559998,68741000,0.015533,186.484000,3.650512,1.390489,1
2024-01-22,193.889999,60133900,0.012163,188.078000,4.876769,1.191773,1
2024-01-23,195.179993,42355600,0.006653,190.387997,4.977567,0.962718,1
2024-01-24,195.080002,35712428,-0.000512,192.867999,2.781826,0.795162,0

In [19]:
aapl_main['ac1_pred'] = aapl_main['ac1_pred'].shift(-1)
aapl_main.tail(5)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2024-01-18,188.630005,78005800,0.032571,185.289999,2.302729,1.450455,1.0
2024-01-19,191.559998,68741000,0.015533,186.484000,3.650512,1.390489,1.0
2024-01-22,193.889999,60133900,0.012163,188.078000,4.876769,1.191773,1.0
2024-01-23,195.179993,42355600,0.006653,190.387997,4.977567,0.962718,0.0
2024-01-24,195.080002,35712428,-0.000512,192.867999,2.781826,0.795162,NaN