In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
aapl_day = yf.download("AAPL", start="2010-12-01", end=None)

[*********************100%%**********************]  1 of 1 completed

In [5]:
aapl_day.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-02-01,183.990005,186.949997,183.820007,186.860001,186.860001,64885400
2024-02-02,179.860001,187.330002,179.250000,185.850006,185.850006,102518000
2024-02-05,188.149994,189.250000,185.839996,187.679993,187.679993,69668800
2024-02-06,186.860001,189.309998,186.770004,189.300003,189.300003,43490800
2024-02-07,190.639999,191.029999,188.610001,189.279999,189.279999,33776023

In [6]:
aapl_day = aapl_day.rename(columns={'Adj Close': 'ac',
                                    'Open': 'o',
                                    'High': 'h',
                                    'Low': 'l',
                                    'Close': 'c',
                                    'Volume': 'v'
                                   })
aapl_day.head()

                    o          h          l          c        ac          v
Date
2010-12-01  11.259643  11.348214  11.250000  11.300000  9.578779  461750800
2010-12-02  11.340357  11.392857  11.246071  11.362500  9.631762  462837200
2010-12-03  11.321786  11.380357  11.297857  11.337143  9.610267  342092800
2010-12-06  11.380000  11.511786  11.372143  11.433929  9.692309  448481600
2010-12-07  11.564286  11.571071  11.361429  11.364643  9.633577  391454000

In [7]:
aapl_main = aapl_day[['ac', 'v']]
aapl_main.head(2)

                  ac          v
Date
2010-12-01  9.578779  461750800
2010-12-02  9.631762  462837200

In [8]:
aapl_main['ac1'] = aapl_main['ac'].pct_change(1) # find percent change from previous day of adj close
aapl_main.head()

                  ac          v       ac1
Date
2010-12-01  9.578779  461750800       NaN
2010-12-02  9.631762  462837200  0.005531
2010-12-03  9.610267  342092800 -0.002232
2010-12-06  9.692309  448481600  0.008537
2010-12-07  9.633577  391454000 -0.006060

In [9]:
aapl_main['mean_rol5'] = aapl_main['ac'].rolling(window=5).mean()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5
Date
2010-12-01  9.578779  461750800       NaN        NaN
2010-12-02  9.631762  462837200  0.005531        NaN
2010-12-03  9.610267  342092800 -0.002232        NaN
2010-12-06  9.692309  448481600  0.008537        NaN
2010-12-07  9.633577  391454000 -0.006060   9.629339
2010-12-08  9.718342  321935600  0.008799   9.657251

In [10]:
pd.__version__ # dunder command to find version

'2.2.0'

In [11]:
aapl_main['std_rol5'] = aapl_main['ac'].rolling(window=5).std()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5
Date
2010-12-01  9.578779  461750800       NaN        NaN       NaN
2010-12-02  9.631762  462837200  0.005531        NaN       NaN
2010-12-03  9.610267  342092800 -0.002232        NaN       NaN
2010-12-06  9.692309  448481600  0.008537        NaN       NaN
2010-12-07  9.633577  391454000 -0.006060   9.629339  0.041561
2010-12-08  9.718342  321935600  0.008799   9.657251  0.045768

In [12]:
aapl_main['z_score5'] = (aapl_main['ac']-aapl_main['mean_rol5']) / aapl_main['std_rol5']
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5  z_score5
Date
2010-12-01  9.578779  461750800       NaN        NaN       NaN       NaN
2010-12-02  9.631762  462837200  0.005531        NaN       NaN       NaN
2010-12-03  9.610267  342092800 -0.002232        NaN       NaN       NaN
2010-12-06  9.692309  448481600  0.008537        NaN       NaN       NaN
2010-12-07  9.633577  391454000 -0.006060   9.629339  0.041561  0.101984
2010-12-08  9.718342  321935600  0.008799   9.657251  0.045768  1.334784

In [13]:
aapl_main.head(10)

                  ac          v       ac1  mean_rol5  std_rol5  z_score5
Date
2010-12-01  9.578779  461750800       NaN        NaN       NaN       NaN
2010-12-02  9.631762  462837200  0.005531        NaN       NaN       NaN
2010-12-03  9.610267  342092800 -0.002232        NaN       NaN       NaN
2010-12-06  9.692309  448481600  0.008537        NaN       NaN       NaN
2010-12-07  9.633577  391454000 -0.006060   9.629339  0.041561  0.101984
2010-12-08  9.718342  321935600  0.008799   9.657251  0.045768  1.334784
2010-12-09  9.680505  294151200 -0.003893   9.667000  0.044144  0.305928
2010-12-10  9.704722  262511200  0.002502   9.685891  0.032460  0.580137
2010-12-13  9.738327  439815600  0.003463   9.695095  0.040309  1.072512
2010-12-14  9.696549  351008000 -0.004290   9.707689  0.021932 -0.507920

In [14]:
aapl_main['ac1'].mean()

0.0010576232486500436

In [15]:
def up_down(pct_change):
    if pct_change > 0:
        return 1
    else: 
        return 0

In [16]:
up_down(1)

1

In [17]:
aapl_main['ac1_pred'] = aapl_main.apply(lambda row: up_down(row['ac1']), axis=1)
aapl_main.head(10)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2010-12-01,9.578779,461750800,NaN,NaN,NaN,NaN,0
2010-12-02,9.631762,462837200,0.005531,NaN,NaN,NaN,1
2010-12-03,9.610267,342092800,-0.002232,NaN,NaN,NaN,0
2010-12-06,9.692309,448481600,0.008537,NaN,NaN,NaN,1
2010-12-07,9.633577,391454000,-0.006060,9.629339,0.041561,0.101984,0
2010-12-08,9.718342,321935600,0.008799,9.657251,0.045768,1.334784,1
2010-12-09,9.680505,294151200,-0.003893,9.667000,0.044144,0.305928,0
2010-12-10,9.704722,262511200,0.002502,9.685891,0.032460,0.580137,1
2010-12-13,9.738327,439815600,0.003463,9.695095,0.040309,1.072512,1
2010-12-14,9.696549,351008000,-0.004290,9.707689,0.021932,-0.507920,0

In [18]:
aapl_main.tail(5)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2024-02-01,186.860001,64885400,0.013341,188.689996,3.366379,-0.543610,1
2024-02-02,185.850006,102518000,-0.005405,187.375998,2.777125,-0.549486,0
2024-02-05,187.679993,69668800,0.009847,186.565997,1.475153,0.755173,1
2024-02-06,189.300003,43490800,0.008632,186.817999,1.849926,1.341678,1
2024-02-07,189.279999,33776023,-0.000106,187.794000,1.511680,0.983011,0

In [19]:
aapl_main['ac1_pred'] = aapl_main['ac1_pred'].shift(-1)
aapl_main.tail(5)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2024-02-01,186.860001,64885400,0.013341,188.689996,3.366379,-0.543610,0.0
2024-02-02,185.850006,102518000,-0.005405,187.375998,2.777125,-0.549486,1.0
2024-02-05,187.679993,69668800,0.009847,186.565997,1.475153,0.755173,1.0
2024-02-06,189.300003,43490800,0.008632,186.817999,1.849926,1.341678,0.0
2024-02-07,189.279999,33776023,-0.000106,187.794000,1.511680,0.983011,NaN

In [20]:
column_list = ['ac', 'v', 'mean_rol5', 'std_rol5', 'z_score5']

In [21]:
X = aapl_main[column_list].dropna(axis=0).copy()
X

                    ac          v   mean_rol5  std_rol5  z_score5
Date
2010-12-07    9.633577  391454000    9.629339  0.041561  0.101984
2010-12-08    9.718342  321935600    9.657251  0.045768  1.334784
2010-12-09    9.680505  294151200    9.667000  0.044144  0.305928
2010-12-10    9.704722  262511200    9.685891  0.032460  0.580137
2010-12-13    9.738327  439815600    9.695095  0.040309  1.072512
...                ...        ...         ...       ...       ...
2024-02-01  186.860001   64885400  188.689996  3.366379 -0.543610
2024-02-02  185.850006  102518000  187.375998  2.777125 -0.549486
2024-02-05  187.679993   69668800  186.565997  1.475153  0.755173
2024-02-06  189.300003   43490800  186.817999  1.849926  1.341678
2024-02-07  189.279999   33776023  187.794000  1.511680  0.983011

[3314 rows x 5 columns]

In [22]:
aapl_main

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2010-12-01,9.578779,461750800,NaN,NaN,NaN,NaN,1.0
2010-12-02,9.631762,462837200,0.005531,NaN,NaN,NaN,0.0
2010-12-03,9.610267,342092800,-0.002232,NaN,NaN,NaN,1.0
2010-12-06,9.692309,448481600,0.008537,NaN,NaN,NaN,0.0
2010-12-07,9.633577,391454000,-0.006060,9.629339,0.041561,0.101984,1.0
...,...,...,...,...,...,...,...
2024-02-01,186.860001,64885400,0.013341,188.689996,3.366379,-0.543610,0.0
2024-02-02,185.850006,102518000,-0.005405,187.375998,2.777125,-0.549486,1.0
2024-02-05,187.679993,69668800,0.009847,186.565997,1.475153,0.755173,1.0
2024-02-06,189.300003,43490800,0.008632,186.817999,1.849926,1.341678,0.0
2024-02-07,189.279999,33776023,-0.000106,187.794000,1.511680,0.983011,NaN

In [23]:
aapl_main.iloc[-1]

ac           1.892800e+02
v            3.377602e+07
ac1         -1.056750e-04
mean_rol5    1.877940e+02
std_rol5     1.511680e+00
z_score5     9.830115e-01
ac1_pred              NaN
Name: 2024-02-07 00:00:00, dtype: float64

In [24]:
# in X, remove last row, which will be used to to predict tomorrow
# also split X to have train and test set
X_pred = X.iloc[-1].copy()
X_pred

ac           1.892800e+02
v            3.377602e+07
mean_rol5    1.877940e+02
std_rol5     1.511680e+00
z_score5     9.830115e-01
Name: 2024-02-07 00:00:00, dtype: float64

In [25]:
Y = aapl_main['ac1_pred'].iloc[4:-1].copy()
Y

Date
2010-12-07    1.0
2010-12-08    0.0
2010-12-09    1.0
2010-12-10    1.0
2010-12-13    0.0
             ...
2024-01-31    1.0
2024-02-01    0.0
2024-02-02    1.0
2024-02-05    1.0
2024-02-06    0.0
Name: ac1_pred, Length: 3313, dtype: float64

In [26]:
X = X.iloc[:-1].copy()
X

                    ac          v   mean_rol5  std_rol5  z_score5
Date
2010-12-07    9.633577  391454000    9.629339  0.041561  0.101984
2010-12-08    9.718342  321935600    9.657251  0.045768  1.334784
2010-12-09    9.680505  294151200    9.667000  0.044144  0.305928
2010-12-10    9.704722  262511200    9.685891  0.032460  0.580137
2010-12-13    9.738327  439815600    9.695095  0.040309  1.072512
...                ...        ...         ...       ...       ...
2024-01-31  184.399994   55467800  190.151996  3.915493 -1.469036
2024-02-01  186.860001   64885400  188.689996  3.366379 -0.543610
2024-02-02  185.850006  102518000  187.375998  2.777125 -0.549486
2024-02-05  187.679993   69668800  186.565997  1.475153  0.755173
2024-02-06  189.300003   43490800  186.817999  1.849926  1.341678

[3313 rows x 5 columns]

In [27]:
X.shape

(3313, 5)

In [28]:
Y.shape

(3313,)

In [29]:
3308*.9

2977.2000000000003

In [30]:
X_train = X.iloc[:2977].copy()
X_test = X.iloc[2977:].copy()

In [31]:
print(X_train.shape)
print(X_test.shape)

(2977, 5)
(336, 5)

In [32]:
2977+331

3308

In [33]:
Y_train = Y.iloc[:2977].copy()
Y_test = Y.iloc[2977:].copy()

In [34]:
print(Y_train.shape)
print(Y_test.shape)

(2977,)
(336,)

In [35]:
# !pip3 install xgboost

In [36]:
import xgboost as xgb # from xgboot import XGBClassifier for faster import

In [37]:
xgb_model = xgb.XGBClassifier(ojective='multi:softmax',
                              num_class=1, # *number of classification typs
                              random_state=42,
                              max_depth=7, # layers of tree
                              n_estimators=31, # rows sampled
                              learning_rate=0.001
                             )

In [38]:
print(X_train.shape, Y_train.shape)

(2977, 5) (2977,)

In [39]:
xgb_model.fit(X_train, Y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.001, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=31, n_jobs=None, num_class=1,
              num_parallel_tree=None, ...)

In [40]:
Y_pred = xgb_model.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score as ac

In [42]:
acc = ac(Y_test, Y_pred)
print(f'Accuracy: {acc}')

Accuracy: 0.5238095238095238

In [43]:
# !pip install scikit-learn

In [44]:
# look at feature importances
xgb_model.feature_importances_

array([0.20604056, 0.23407002, 0.17645906, 0.20123653, 0.18219383],
      dtype=float32)

In [45]:
X_train.columns

Index(['ac', 'v', 'mean_rol5', 'std_rol5', 'z_score5'], dtype='object')

In [46]:
# predict tomorrow's buy or sell
xgb_model.predict(X_pred.to_numpy().reshape(1,-1))[0]

1

In [47]:
# find probability of prediction
xgb_model.predict_proba(X_pred.to_numpy().reshape(1,-1))

array([[0.48329675, 0.51670325]], dtype=float32)

In [48]:
xgb_model.predict_proba(X_pred.to_numpy().reshape(1,-1))[0][0] + xgb_model.predict_proba(X_pred.to_numpy().reshape(1,-1))[0][1]

1.0

In [49]:
new_columns = ['ac', 'v', 'std_rol5']
X_train_new = X_train[new_columns]
X_test_new = X_test[new_columns]

xgb_model_new = xgb.XGBClassifier(objective='binary:logistic',
                              num_class=1, # *number of classification typs
                              random_state=42,
                              max_depth=7, # layers of tree
                              n_estimators=87, # rows sampled
                              learning_rate=0.00001
                             )

xgb_model_new.fit(X_train_new, Y_train)

Y_pred_new = xgb_model_new.predict(X_test_new)

acc_new = ac(Y_test, Y_pred_new)
print(f'Accuracy: {acc_new}')

Accuracy: 0.5238095238095238

In [50]:
xgb_model_new.feature_importances_

array([0.37507802, 0.3272499 , 0.29767206], dtype=float32)