In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
aapl_day = yf.download("AAPL", start="1980-12-08", end=None)

[*********************100%***********************]  1 of 1 completed

In [5]:
aapl_day.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099319  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094137  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087228  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089387   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.091978   73449600

In [6]:
aapl_day = aapl_day.rename(columns={'Adj Close': 'ac',
                                    'Open': 'o',
                                    'High': 'h',
                                    'Low': 'l',
                                    'Close': 'c',
                                    'Volume': 'v'
                                   })
aapl_day.head()

                   o         h         l         c        ac          v
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348  0.099319  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652  0.094137  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723  0.087228  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513  0.089387   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862  0.091978   73449600

In [7]:
aapl_main = aapl_day[['ac', 'v']]
aapl_main.head(2)

                  ac          v
Date
1980-12-12  0.099319  469033600
1980-12-15  0.094137  175884800

In [8]:
aapl_main['ac1'] = aapl_main['ac'].pct_change(1) # find percent change from previous day of adj close
aapl_main.head()

                  ac          v       ac1
Date
1980-12-12  0.099319  469033600       NaN
1980-12-15  0.094137  175884800 -0.052170
1980-12-16  0.087228  105728000 -0.073398
1980-12-17  0.089387   86441600  0.024751
1980-12-18  0.091978   73449600  0.028992

In [9]:
aapl_main['mean_rol5'] = aapl_main['ac'].rolling(window=5).mean()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5
Date
1980-12-12  0.099319  469033600       NaN        NaN
1980-12-15  0.094137  175884800 -0.052170        NaN
1980-12-16  0.087228  105728000 -0.073398        NaN
1980-12-17  0.089387   86441600  0.024751        NaN
1980-12-18  0.091978   73449600  0.028992   0.092410
1980-12-19  0.097591   48630400  0.061029   0.092064

In [10]:
pd.__version__ # dunder command to find version

'1.5.2'

In [11]:
aapl_main['std_rol5'] = aapl_main['ac'].rolling(window=5).std()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5
Date
1980-12-12  0.099319  469033600       NaN        NaN       NaN
1980-12-15  0.094137  175884800 -0.052170        NaN       NaN
1980-12-16  0.087228  105728000 -0.073398        NaN       NaN
1980-12-17  0.089387   86441600  0.024751        NaN       NaN
1980-12-18  0.091978   73449600  0.028992   0.092410  0.004661
1980-12-19  0.097591   48630400  0.061029   0.092064  0.004044