In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
aapl_day = yf.download("AAPL", start="2010-12-01", end=None)

[*********************100%%**********************]  1 of 1 completed

In [5]:
aapl_day.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-25,195.220001,196.270004,193.110001,194.169998,194.169998,54822100
2024-01-26,194.270004,194.759995,191.940002,192.419998,192.419998,44553400
2024-01-29,192.009995,192.199997,189.580002,191.729996,191.729996,47145600
2024-01-30,190.940002,191.800003,187.470001,188.039993,188.039993,55859400
2024-01-31,187.039993,187.095001,184.789993,185.240005,185.240005,37542953

In [6]:
aapl_day = aapl_day.rename(columns={'Adj Close': 'ac',
                                    'Open': 'o',
                                    'High': 'h',
                                    'Low': 'l',
                                    'Close': 'c',
                                    'Volume': 'v'
                                   })
aapl_day.head()

                    o          h          l          c        ac          v
Date
2010-12-01  11.259643  11.348214  11.250000  11.300000  9.578783  461750800
2010-12-02  11.340357  11.392857  11.246071  11.362500  9.631763  462837200
2010-12-03  11.321786  11.380357  11.297857  11.337143  9.610268  342092800
2010-12-06  11.380000  11.511786  11.372143  11.433929  9.692312  448481600
2010-12-07  11.564286  11.571071  11.361429  11.364643  9.633577  391454000

In [7]:
aapl_main = aapl_day[['ac', 'v']]
aapl_main.head(2)

                  ac          v
Date
2010-12-01  9.578783  461750800
2010-12-02  9.631763  462837200

In [8]:
aapl_main['ac1'] = aapl_main['ac'].pct_change(1) # find percent change from previous day of adj close
aapl_main.head()

                  ac          v       ac1
Date
2010-12-01  9.578783  461750800       NaN
2010-12-02  9.631763  462837200  0.005531
2010-12-03  9.610268  342092800 -0.002232
2010-12-06  9.692312  448481600  0.008537
2010-12-07  9.633577  391454000 -0.006060

In [9]:
aapl_main['mean_rol5'] = aapl_main['ac'].rolling(window=5).mean()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5
Date
2010-12-01  9.578783  461750800       NaN        NaN
2010-12-02  9.631763  462837200  0.005531        NaN
2010-12-03  9.610268  342092800 -0.002232        NaN
2010-12-06  9.692312  448481600  0.008537        NaN
2010-12-07  9.633577  391454000 -0.006060   9.629341
2010-12-08  9.718345  321935600  0.008799   9.657253

In [10]:
pd.__version__ # dunder command to find version

'2.2.0'

In [11]:
aapl_main['std_rol5'] = aapl_main['ac'].rolling(window=5).std()
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5
Date
2010-12-01  9.578783  461750800       NaN        NaN       NaN
2010-12-02  9.631763  462837200  0.005531        NaN       NaN
2010-12-03  9.610268  342092800 -0.002232        NaN       NaN
2010-12-06  9.692312  448481600  0.008537        NaN       NaN
2010-12-07  9.633577  391454000 -0.006060   9.629341  0.041560
2010-12-08  9.718345  321935600  0.008799   9.657253  0.045769

In [12]:
aapl_main['z_score5'] = (aapl_main['ac']-aapl_main['mean_rol5']) / aapl_main['std_rol5']
aapl_main.head(6)

                  ac          v       ac1  mean_rol5  std_rol5  z_score5
Date
2010-12-01  9.578783  461750800       NaN        NaN       NaN       NaN
2010-12-02  9.631763  462837200  0.005531        NaN       NaN       NaN
2010-12-03  9.610268  342092800 -0.002232        NaN       NaN       NaN
2010-12-06  9.692312  448481600  0.008537        NaN       NaN       NaN
2010-12-07  9.633577  391454000 -0.006060   9.629341  0.041560  0.101943
2010-12-08  9.718345  321935600  0.008799   9.657253  0.045769  1.334780

In [13]:
aapl_main.head(10)

                  ac          v       ac1  mean_rol5  std_rol5  z_score5
Date
2010-12-01  9.578783  461750800       NaN        NaN       NaN       NaN
2010-12-02  9.631763  462837200  0.005531        NaN       NaN       NaN
2010-12-03  9.610268  342092800 -0.002232        NaN       NaN       NaN
2010-12-06  9.692312  448481600  0.008537        NaN       NaN       NaN
2010-12-07  9.633577  391454000 -0.006060   9.629341  0.041560  0.101943
2010-12-08  9.718345  321935600  0.008799   9.657253  0.045769  1.334780
2010-12-09  9.680504  294151200 -0.003894   9.667001  0.044145  0.305874
2010-12-10  9.704722  262511200  0.002502   9.685892  0.032461  0.580092
2010-12-13  9.738327  439815600  0.003463   9.695095  0.040310  1.072489
2010-12-14  9.696548  351008000 -0.004290   9.707689  0.021933 -0.507986

In [14]:
aapl_main['ac1'].mean()

0.001052625257246733

In [15]:
def up_down(pct_change):
    if pct_change > 0:
        return 1
    else: 
        return 0

In [16]:
up_down(1)

1

In [17]:
aapl_main['ac1_pred'] = aapl_main.apply(lambda row: up_down(row['ac1']), axis=1)
aapl_main.head(10)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2010-12-01,9.578783,461750800,NaN,NaN,NaN,NaN,0
2010-12-02,9.631763,462837200,0.005531,NaN,NaN,NaN,1
2010-12-03,9.610268,342092800,-0.002232,NaN,NaN,NaN,0
2010-12-06,9.692312,448481600,0.008537,NaN,NaN,NaN,1
2010-12-07,9.633577,391454000,-0.006060,9.629341,0.041560,0.101943,0
2010-12-08,9.718345,321935600,0.008799,9.657253,0.045769,1.334780,1
2010-12-09,9.680504,294151200,-0.003894,9.667001,0.044145,0.305874,0
2010-12-10,9.704722,262511200,0.002502,9.685892,0.032461,0.580092,1
2010-12-13,9.738327,439815600,0.003463,9.695095,0.040310,1.072489,1
2010-12-14,9.696548,351008000,-0.004290,9.707689,0.021933,-0.507986,0

In [18]:
aapl_main.tail(5)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2024-01-25,194.169998,54822100,-0.001697,193.859998,1.372861,0.225806,0
2024-01-26,192.419998,44553400,-0.009013,194.031998,1.021600,-1.577916,0
2024-01-29,191.729996,47145600,-0.003586,193.599997,1.459503,-1.281259,0
2024-01-30,188.039993,55859400,-0.019246,192.171997,2.585630,-1.598065,0
2024-01-31,185.240005,37542953,-0.014890,190.319998,3.613355,-1.405894,0

In [19]:
aapl_main['ac1_pred'] = aapl_main['ac1_pred'].shift(-1)
aapl_main.tail(5)

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2024-01-25,194.169998,54822100,-0.001697,193.859998,1.372861,0.225806,0.0
2024-01-26,192.419998,44553400,-0.009013,194.031998,1.021600,-1.577916,0.0
2024-01-29,191.729996,47145600,-0.003586,193.599997,1.459503,-1.281259,0.0
2024-01-30,188.039993,55859400,-0.019246,192.171997,2.585630,-1.598065,0.0
2024-01-31,185.240005,37542953,-0.014890,190.319998,3.613355,-1.405894,NaN

In [20]:
column_list = ['ac', 'v', 'mean_rol5', 'std_rol5', 'z_score5']

In [21]:
X = aapl_main[column_list].dropna(axis=0).copy()
X

                    ac          v   mean_rol5  std_rol5  z_score5
Date
2010-12-07    9.633577  391454000    9.629341  0.041560  0.101943
2010-12-08    9.718345  321935600    9.657253  0.045769  1.334780
2010-12-09    9.680504  294151200    9.667001  0.044145  0.305874
2010-12-10    9.704722  262511200    9.685892  0.032461  0.580092
2010-12-13    9.738327  439815600    9.695095  0.040310  1.072489
...                ...        ...         ...       ...       ...
2024-01-25  194.169998   54822100  193.859998  1.372861  0.225806
2024-01-26  192.419998   44553400  194.031998  1.021600 -1.577916
2024-01-29  191.729996   47145600  193.599997  1.459503 -1.281259
2024-01-30  188.039993   55859400  192.171997  2.585630 -1.598065
2024-01-31  185.240005   37542953  190.319998  3.613355 -1.405894

[3309 rows x 5 columns]

In [22]:
aapl_main

,ac,v,ac1,mean_rol5,std_rol5,z_score5,ac1_pred
Date,,,,,,,
2010-12-01,9.578783,461750800,NaN,NaN,NaN,NaN,1.0
2010-12-02,9.631763,462837200,0.005531,NaN,NaN,NaN,0.0
2010-12-03,9.610268,342092800,-0.002232,NaN,NaN,NaN,1.0
2010-12-06,9.692312,448481600,0.008537,NaN,NaN,NaN,0.0
2010-12-07,9.633577,391454000,-0.006060,9.629341,0.041560,0.101943,1.0
...,...,...,...,...,...,...,...
2024-01-25,194.169998,54822100,-0.001697,193.859998,1.372861,0.225806,0.0
2024-01-26,192.419998,44553400,-0.009013,194.031998,1.021600,-1.577916,0.0
2024-01-29,191.729996,47145600,-0.003586,193.599997,1.459503,-1.281259,0.0
2024-01-30,188.039993,55859400,-0.019246,192.171997,2.585630,-1.598065,0.0
2024-01-31,185.240005,37542953,-0.014890,190.319998,3.613355,-1.405894,NaN

In [23]:
aapl_main.iloc[-1]

ac           1.852400e+02
v            3.754295e+07
ac1         -1.489038e-02
mean_rol5    1.903200e+02
std_rol5     3.613355e+00
z_score5    -1.405894e+00
ac1_pred              NaN
Name: 2024-01-31 00:00:00, dtype: float64

In [24]:
# in X, remove last row, which will be used to to predict tomorrow
# also split X to have train and test set
X_pred = X.iloc[-1].copy()
X_pred

ac           1.852400e+02
v            3.754295e+07
mean_rol5    1.903200e+02
std_rol5     3.613355e+00
z_score5    -1.405894e+00
Name: 2024-01-31 00:00:00, dtype: float64

In [25]:
Y = aapl_main['ac1_pred'].iloc[4:-1].copy()
Y

Date
2010-12-07    1.0
2010-12-08    0.0
2010-12-09    1.0
2010-12-10    1.0
2010-12-13    0.0
             ...
2024-01-24    0.0
2024-01-25    0.0
2024-01-26    0.0
2024-01-29    0.0
2024-01-30    0.0
Name: ac1_pred, Length: 3308, dtype: float64

In [26]:
X = X.iloc[:-1].copy()
X

                    ac          v   mean_rol5  std_rol5  z_score5
Date
2010-12-07    9.633577  391454000    9.629341  0.041560  0.101943
2010-12-08    9.718345  321935600    9.657253  0.045769  1.334780
2010-12-09    9.680504  294151200    9.667001  0.044145  0.305874
2010-12-10    9.704722  262511200    9.685892  0.032461  0.580092
2010-12-13    9.738327  439815600    9.695095  0.040310  1.072489
...                ...        ...         ...       ...       ...
2024-01-24  194.500000   53631300  192.751999  2.676631  0.653060
2024-01-25  194.169998   54822100  193.859998  1.372861  0.225806
2024-01-26  192.419998   44553400  194.031998  1.021600 -1.577916
2024-01-29  191.729996   47145600  193.599997  1.459503 -1.281259
2024-01-30  188.039993   55859400  192.171997  2.585630 -1.598065

[3308 rows x 5 columns]

In [27]:
X.shape

(3308, 5)

In [28]:
Y.shape

(3308,)

In [29]:
3308*.9

2977.2000000000003

In [30]:
X_train = X.iloc[:2977].copy()
X_test = X.iloc[2977:].copy()

In [31]:
print(X_train.shape)
print(X_test.shape)

(2977, 5)
(331, 5)

In [32]:
2977+331

3308

In [33]:
Y_train = Y.iloc[:2977].copy()
Y_test = Y.iloc[2977:].copy()

In [34]:
print(Y_train.shape)
print(Y_test.shape)

(2977,)
(331,)

In [35]:
# !pip3 install xgboost

In [36]:
import xgboost as xgb # from xgboot import XGBClassifier for faster import

In [37]:
xgb_model = xgb.XGBClassifier(ojective='multi:softmax',
                              num_class=1, # *number of classification typs
                              random_state=42,
                              max_depth=7, # layers of tree
                              n_estimators=31, # rows sampled
                              learning_rate=0.001
                             )

In [38]:
print(X_train.shape, Y_train.shape)

(2977, 5) (2977,)

In [39]:
xgb_model.fit(X_train, Y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.001, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=31, n_jobs=None, num_class=1,
              num_parallel_tree=None, ...)